*{
padding: 0;/*espaçamento*/
margin: 0;
box-sizing: border-box;
font-family: 'Times New Roman', Times, serif;
}
header{ /*cabeçalho*/
background-color: rgb(165, 20, 20);
color: rgb(240, 246, 255);
padding: 15px;
text-align: center;/*alinha o texto no centro*/
border-bottom: rgb(21, 20, 20) 3px solid; /*borda*/
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}  
/*grade de produtos*/
.container {
background-color: #eeeeee; /*cor de fundo*/
min-height: 60vh; /* altura mínima*/
padding: 50px;
}

.product-container {
max-width: 1200px;/*largura da divisão do card*/
margin: 0 auto;
}
.card { 
    width: 31%;/*largura do card*/
    display: inline-block; /*posiciona os cards em linha*/
}

.product-image {
    height: 300px; /*altura da imagem*/
    width: 100%; /*ocupar 100% do card*/
    background-position: center;
    background-size: cover;
}

#img-1 {
background-image: url(../imagens/tenis1.jpg);
}

#img-2 {
background-image: url(../imagens/tenis2.jpg);
}

#img-3 {
background-image: url(../imagens/tenis3.jpg);
}

#img-4 {
background-image: url(../imagens/tenis4.jpg);
}

#img-5 {
background-image: url(../imagens/tenis5.jpg);
}

#img-6 {
background-image: url(../imagens/tenis6.jpg);
}

h3 {
    margin-bottom: 10px;
    color: rgb(181, 47, 47);
    font-size: 24px;
    }
    .card p {
        margin-bottom: 10px;
    }  
.btn{
    display: block; /*exibir o conteúdo no formato de um bloco*/
    width: 100%; /*ocupar 100% do espaço disponnível no card*/
    text-align: center; /* alinhar o texto no centro do espaço indicado pelo comando width*/
    text-transform: uppercase; /*Exibe o texto em letra maiúscula*/
    text-decoration: rgb(134, 1, 1); /*Remove o sublinhado do texto*/
    background-color: rgb(162, 46, 46); /*altera a cor de fundo do display block (botão)*/
    color: rgb(255, 255, 255); /*muda a cor da fonte do texto*/
    padding: 15px; /*espaçamento de 15px ao redor do display block*/
    margin-bottom: 10px; /*adiciona uma margem abaixp do botão de 10px*/
    border-radius: 10px; /*arredonda os cantos do botão*/
}

.btn:hover { /* altera o botao quando o mouse passa*/
    background-color: rgb(110, 105, 105); /*cor do fundo do botão*/
    text-align: center; /*centraliza o texto*/
    padding: 15px; /*espaçamento ao redor do rodapé*/
    color: rgb(251, 251, 251); /*cor da fonte*/
}

footer{
    background-color:  rgb(144, 5, 5); /*cor de fundo do rodapé*/
    color: azure; /*cor da fonte do roda pé*/
    border-top: 3px solid; /*borda superios, espessura 3pixels tipo de linha solida cor verde escuro*/
    text-align: center;/*alinhamento do texto centralizado*/
}
